.coin-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height: 2vh;
  width: 83%;
}

.coin-head span {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}

.coin-head select {
  padding: 4px 5px;
  font-size: 1em;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.coin-head select:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
.coins-container{
  width: 60%;
}

tbody {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

table {
  width: 60%;
  border-collapse: collapse;
}


thead th {
  text-align: right;
}

thead th:first-child {
  text-align: left;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td:first-child {
  text-align: left;
  display: flex;
}

td:not(:first-child) {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9; 
}

tbody tr:nth-child(even) {
  background-color: #e0e0e0; 
}


tbody tr:hover {
  background-color: #d0d0d0;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.pagination {
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 3px 7px;
  border: none;
  border-radius: 10px;
  background-color: #94a595;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}

.pagination .active {
  background-color: #3e8e41; 
}

.pagination .previous, .pagination .next {
  background-color: #45a049; 
}
.coin-chart h2 {
  text-align: center;
  margin-bottom: 20px;
}

.coin-table{
  width: 89.5%;
}

.coin-table table{
  width: 100%;
}

