/* Coins.css */

.main {
    padding: 20px;
  }
  
  .coins {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .cards {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-wrap: wrap;
  }
  
  .cards:hover {
    transform: translateY(-5px);
  }
  
  .image {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  .image img {
    width: 50px;
    height: 50px;
  }
  
  #name {
    font-size: 18px;
    font-weight: bold;
    text-wrap: wrap;
  }
  
  .cards p {
    margin: 10px 0;
    text-align: center;
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination .active {
    background-color: #0056b3;
  }
  
  @media (max-width: 1200px) {
    .cards {
      width: calc(33.33% - 20px);
    }
  }
  
  @media (max-width: 992px) {
    .cards {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .cards {
      width: calc(100% - 20px);
    }
    .pagination button{
        display: none;
    }
    .pagination button:first-child, button:last-child{
        display: block;
    }

  }
  