.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: white;
    width: 100vvw;
  }
  
  .header-logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .header-search {
    display: flex;
    align-items: center;
  }
  
  .header-input {
    margin-right: 10px;
  }
  
  .header-button {
    background-color: #61dafb;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  
  .header-currency-selector {
    margin-right: 10px;
  }
  
  .header-login-button {
    background-color: #61dafb;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  